body {
    margin:0px;
    padding:0px;
}
.wrap_stt {
    font-size:2rem;
    color:#fff;
    width:100%;
    display:block;
    background: #1E0991;
    position:relative;
    overflow: hidden;
    font-size: 62.5%;
    border-top: 2px solid #D3D3D3;
}
.wrap_stt .stt_left {
    padding: 0px;
    height: 100%;
    overflow-y: auto;
}
.wrap_stt .stt_left .stt_large_tit {
    font-size: 2rem;
    color:#fefeff;
    font-weight:normal;
    background:#090d3a;
    margin: 0px;
    display: block;
    line-height: 5rem;
    padding-left: 10px;
    text-transform: uppercase;
}
.wrap_stt .stt_left ul {
    margin: 0px;
    padding: 0px;
}
.wrap_stt .stt_left ul li {
    display:block;
    line-height: 4.5rem;
    color: #fefeff;
    font-size: 2rem;
    border-bottom: 2px solid rgba(255, 255, 255, .1);
    padding: 0px 10px;
    cursor: pointer;
    /*text-transform: uppercase;*/
}
.wrap_stt .stt_left ul li:hover {

}
.wrap_stt .stt_left ul li.active {
    /*background:#162699;*/
    background: #03F;
}
.stt_detail_cont {
    display:none;
}
.wrap_stt .stt_right {
    padding: 0px;
    box-shadow: -1px -1px 3px #000;
    min-height: 100%;
    padding: 0 20px 20px 20px;
    background: #292b2e;
}
.wrap_stt .stt_right .stt_detail_head {
    border-bottom: 2px solid rgba(255, 255, 255, .1);
    display:block;
    width: 100%;
    position: relative;
    padding: 0 15px;
}
.wrap_stt .stt_right .stt_detail_head h3 {
    color: rgba(255, 255, 255, .5);
    font-size: 2.2rem;
    text-transform: none;
    font-weight:normal;
    margin: 0px;
    line-height: 4.5rem;
    text-shadow: none;
}
.wrap_stt .stt_right .stt_detail_head span {
    color: #D3D3D3;
    font-size: 1.7rem;
    line-height: 1.2;
    display: inline-block;
}
.wrap_stt .stt_right .stt_detail_head .head_btn {
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    right: 0px;
}
.stt_large_item ul li .stt_status {
    display:inline-block;
    padding-right: 15px;
    background:url(../images/next.png) right center no-repeat;
    float: right;
    font-size: 1.6rem;
    color: #BBB;
    line-height: 4.5rem;
    background-size: 8px;
    min-width: 30px;
    min-height: 40px;
}
.stt_detail ul {
    padding:0px;
    margin: 0px;
}
.stt_detail {
    padding: 10px 0px;
    overflow: auto;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    font-size: 2rem;
}
.stt_server .stt_detail {
	margin: 0;
    overflow:auto;
    border-bottom: none;
    position: absolute;
    
	top: 4.6rem;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 15px;
}
.stt_detail .action {
	padding: 0;
}
.stt_detail form > ul li {
    color:#fff;
    font-size: 22px;
    display: block;
    border: 1px solid #838181;
    line-height: 50px;
    padding: 0px 10px;
    padding-right: 50px;
    margin-bottom: 5px;
    position: relative;
    height: 50px;
}
.stt_detail ul li:hover, .stt_detail ul li.active {
    background:#03F;
}
.stt_detail ul li.head {
    border:none;
    text-transform:uppercase;
    text-align: center;
}
.stt_detail ul li.head:hover {
    background:none;
}
.stt_detail ul li ul {
    position: absolute;
    right: -252px;
    margin: 0px;
    padding: 0px;
    width: 250px;
    /* bottom: 0px; */
    display:none;
}
.stt_detail ul li:hover ul {
    display:block;
}
.stt_detail ul li ul li {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.stt_detail ul li ul li input {
    position:absolute;
    right: -2px;
    top: 1px;
    width:50px;
    height: 46px;
    margin: 0px;
}
.stt_detail .name {
    font-size:2.2rem;
    padding: 0px;
}
.stt_detail .name span {
    padding: 0px 12px;
    line-height: 40px;
    display: inline-block;
}
.stt_detail .action p {
    display:inline-block;
    float:left;
    font-size: 2.2rem;
    margin: 0px;
    line-height: 4rem;
    min-width: 200px;
    padding: 0;
}
.stt_detail .action p input {
    width: 40px;
    height: 40px;
    margin: 0px;
    margin-right: 5px;
    float: left;
    margin-right:10px;
    margin: 0px;
}
/* phunn */

/*.choose_server .add_server {
	display: block;
	overflow: hidden;
	position: relative;
	padding: 0 50px 0 0!important;
	height: 50px;
}

.choose_server .add_server input{
	border:none;
	width: 100%;
	height: 100%;
	line-height: 50px;
	font-size: 22px;
	padding: 0px 10px;
	text-align: left;
	display: inline-block;
	background: rgba(0, 0, 0, 0.5);
}

.choose_server .btn_add{
	position: absolute;
	top: 0px;
	right:0px;
	z-index: 9999999;
	cursor: pointer;
	background: #4f4f4f url(../images/add-delete.png) 10px 8px no-repeat;
	padding: 0px 5px;
	line-height: 48px;
	border-left: 1px solid #fff;
	min-width: 50px;
	text-align: center;
	background-size: auto 30px;
	font-size: 0px;
}*/
.choose_server li {
    display: block;
    overflow: hidden;
    position: relative;
    padding: 0 !important;
    margin: 10px 0;
}
.choose_server li input {
    border:none;
    width: 100%;
    line-height: 48px;
    font-size: 22px;
    padding: 0px 10px;
    position: relative;
    text-align: left;
    float: left;
    background: rgba(0, 0, 0, 0.5);
}
.choose_server .existed_server p {
    border:none;
    width: 100%;
    line-height: 48px;
    font-size: 22px;
    padding: 0px 10px;
    position: relative;
    text-align: left;
    float: left;
}
.choose_server .existed_server p:hover {
    background: rgba(0, 51, 255, 0.25);
}
.choose_server .existed_server.error p {
    background: #770000;
    text-decoration: line-through;
    text-transform: none;
}
.choose_server .existed_server.active {
    background: transparent !important;
}

.choose_server .existed_server.active p {
    background: #03F;
}
.choose_server p {
    font-size:2rem;
    margin: 0px;
}
.stt_detail ul li span.btn_add, .btn_add {
    position: absolute;
    right:0px;
    z-index: 9999999;
    cursor: pointer;
    background: #4f4f4f url(../images/add-delete.png) 10px 8px no-repeat;
    padding: 0px 5px;
    line-height: 48px;
    border-left: 1px solid #fff;
    min-width: 50px;
    text-align: center;
    background-size: auto 30px;
    font-size: 0px;
}
.stt_detail ul li span.btn_remove, .btn_remove {
    position: absolute;
    right:0px;
    z-index: 9999999;
    cursor: pointer;
    padding: 0px 5px;
    line-height: 48px;
    min-width: 50px;
    border-left: 1px solid #fff;
    text-align: center;
    background: #4f4f4f url(../images/add-delete.png) -56px 8px no-repeat;
    background-size: auto 30px;
    font-size: 0px;
}

.remove_action .btn_remove{
    display: none;
}
.remove_action .remove_verify{
    display: block;
}
.remove_verify {
    position: relative;
    padding: 5px 0 !important;
    line-height: 48px;
    min-width: 50px;
    border-left: 1px solid #fff;
    text-align: center;
    background: transparent !important;
    background-size: auto 30px;
    text-transform: none;
    font-size: 1.8rem;
    display: none;
    text-decoration: none !important;
}

.remove_verify a:first-child {
    color: #fff;
    background: #770000;
    padding: 5px 10px;
}
.remove_verify a:last-child {
    color: #fff;
    background: #064101;
    padding: 5px 10px;
}

/*.stt_detail_head p {
    display:inline-block;
    position:absolute;
    top: 50%;
    margin-top: -20px;
    right: 0px;
}*/
.stt_detail_head p a {
    color: #fff;
    font-family: arial;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    background: #770000;
    display: inline-block;
    line-height: 40px;
    padding: 0px 20px;
    margin-right: 10px;
    border-radius: 2px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.stt_detail_head p a:first-child {
    background: #064101;
}
.stt_detail_head p a:hover {
    color:#F8AB23;
    text-decoration:none;
}
.choose_server .tab_choose {
    display:inline-block;
    position: relative;
    left: 120%;
    top: -3rem;
    min-width: 300px;
}
.choose_server .tab_choose span {
    background: #4f4f4f;
    display: inline-block;
    padding: 0px 10px;
    margin-left: 1px;
    line-height: 40px;
    cursor: pointer;
}
.choose_server .tab_choose span.active {
    background: #002CDB;
}
.price_table {
    width: 100%;
    font-size: 20px;
    line-height: 40px;
    display: block;
    overflow: hidden;
    position: relative;
}
.price_table ul {
    list-style: none;
}
.price_table ul li {
    height: 40px;
    border-top: 1px solid #000;
    padding: 0 10px;
}

.price_table ul li:first-child {
	border: none;
}
.price_table .price_attr {
    margin-top: 60px;
    padding: 0;
    border: 1px solid #0f1012;
    background: #292b2e;
    color: #fff;
    border-top-left-radius: 5px;
    overflow: hidden;
}
.price_table .price_attr ul li {
    text-align: right;
    font-style: italic;
}
.price_table .price_items {
    padding: 0;
}
.price_table .price_item {
    padding: 0;
    background: #0f1012;
    width: 25%;
    position: absolute;
    top: 0;
    border: 1px solid #000;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}
.price_table .price_item:nth-child(1) {
	left: 0;
	border-top-left-radius: 5px;
}
.price_table .price_item:nth-child(2) {
	left: 25%;
}
.price_table .price_item:nth-child(3) {
	left: 50%;
}
.price_table .price_item:nth-child(4) {
	left: 75%;
	border-top-right-radius: 5px;
}
.price_table .price_item h2 {
    height: 60px;
    font-size: 25px;
    line-height: 60px;
    text-align: center;
    border-bottom: 1px solid #000;
    background: #770000;
}
.price_table .price_item ul li {
    text-align: center;
}
.price_table ul li.hover {
    background:#03F;
}
.price_table .price_select {
    z-index: 1;
    box-shadow: 0px 0px 20px #aaa;
    display: block;
    width: 35%;
    margin-left: -5%;
    margin-top: -10px;
    background: #090d3a;
    border-radius: 5px;
    border-color: #292b2e;
    opacity: 1;
}
.price_table .price_select ul li {
	height: 41px;
}
.price_yes {
	color: #fff;
}
.price_no {
	color: #292b2e;
}

#setting-launcher {
	position: absolute;
	top: 80px;
	bottom: 0;
	left: 0;
	right: 0;
	background: #0f1012;
	border: none;
	z-index: 9999;
	overflow: visible;
}

.setting-header {
	padding: 0 10px;
	/* width: 100%; */
	height: 80px;
	position: absolute;
	top: 0;
	/* border-bottom: 4px solid #008bf3; */
	z-index: 99999;
	top: -80px;
	left: 220px;
	right: 0;
}
.setting-header .home_top {
	margin: 0;
	float: left;
	background: transparent;
	height: 80px;
	padding: 8px 0;
}
.setting-header .home_top ul{
	margin: 0;
}
.setting-header h2 {
	font-size: 2.2rem;
	line-height: 80px;
	float: left;
	
	margin-left: 20px;
}

.setting-content {
	position: relative;
	padding: 4px 40px 0 40px;
	width: 100%;
	height: 100%;
	border-top: 4px solid #008bf3;
}

.input_group {
	line-height: 50px;
}

.input_group input{
	display: none;
}

.input_group label {
	padding-left: 60px;
	background: url(../images/check50.png) no-repeat top left;
	background-size: auto 100%;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.input_group input:checked + label {
	background: url(../images/checked50.png) no-repeat top left;
	background-size: auto 100%;
}

.service_table {
    font-size: 2rem;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    padding: 10px 0;
    margin-bottom: 20px;
    overflow: hidden;
}

.service_table > div:first-child {
    padding: 0;
}

.service_table > div:last-child {
    padding-right: 0;
}

.price_table .stt_submit {
    position: absolute;
    top: 10px;
    right: 0;
}

.price_table .stt_submit a {
    color: #fff;
    font-family: arial;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    background: #064101;
    display: inline-block;
    line-height: 40px;
    padding: 0px 20px;
    border-radius: 2px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 100%;
    text-align: center;
}

.service_action a {
    color: #fff;
    font-family: arial;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    background: #770000;
    display: inline-block;
    line-height: 40px;
    padding: 0px 20px;
    float: right;
    margin-bottom: 10px;
    border-radius: 2px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 100%;
    text-align: center;
}
.service_action a:first-child {
    background: #064101;
}
.service_action p a:hover {
    color:#F8AB23;
    text-decoration:none;
}

.notify {
    position: absolute;
    right: -40px;
    top: -85px;
    text-align: right;
    font-size: 28px;
    line-height: 80px;
    font-style: italic;
    padding-right: 30px;
}

.stt-detail {
    position: absolute;
    left: 15px;
    right: 15px;
    top: 80px;
    bottom: 15px;
    overflow: auto;
}

.appPanel_announcement {
    position: absolute;
    padding: 0 100px;
    text-align: center;
    font-size: 22px;
    left: 0;
    right: 0;
    line-height: 112px;
}
.stt_deleteall {
    color: #fff;
    font-family: arial;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    background: #770000 !important;
    display: inline-block;
    line-height: 40px;
    padding: 0px 20px;
    margin-right: 10px;
    border-radius: 2px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.stt_deleteall a:hover {
    color: #F8AB23;
    text-decoration: none;
}
.appPanel_announcement p {
    display: inline;
}
.annoucement_item {
    overflow: hidden;
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}
.annoucement_item:hover {
    background-color: #444;
}
.annoucement_item p {
    margin: 10px 20px 10px 5px;
    font-size: 20px;
}
.annoucement_item span {
    font-style: italic;
}
.annoucement_item:hover .close {
    display: block;
}
.annoucement_item .close {
    position: absolute;
    top: 7px;
    right: 5px;
    color: #000;
    opacity: 1;
    font-size: 36px;
    display: none;
    background: #FFF;
    padding: 0 7px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 1px solid #CCC;
    line-height: 36px;
}
